---
layout: 'base.njk'
---

<section class="p-5 bg-light text-dark">
    <div class="container">
      <div class="row align-items-center justify-content-between">
              <div class="col-md">
                <img src="{{ logo }}" class="img-fluid {{ pic }}" alt="{{ imgAlt }}">
              </div>
            <div class="col-md p-5 ">
              <h1><b>{{ name }}</b></h1>
              <div class="d-flex align-items-center">
                <h3><i class="bi bi-clock me-3"></i></h3>
                  <h5>Store Hours: {{ hours }}</h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="bi bi-telephone-fill me-3"></i></h3>
                  <h5> Telephone: {{ contact }} </h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="bi bi-envelope me-3"></i></h3>
                  <h5>{{ email }}</h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="{{ icon }} me-3"></i></h3>
                  <h5> {{ description }} 
                  </h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="{{ social_i }} me-3"></i></h3>
                  <h5><a href="{{ social}}" class="{{ social_c }}">{{ social_n }}</a></h5>
              </div>
           </div>
      </div>
    </div>  
  </section>
  <div class="bg-primary mb-5">
    
  </div>  
    <!-- First Photo Grid-->
  <section class="p-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_1}}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title"> {{ item_1_name }}</h5>
              <p class="card-text"> {{ item_1_cost }}</p>
              <small class="card-text"> {{ note }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location }}" class="{{ file }}">{{ message }}</a>
            </div>
          </div>
        </div>
        <!-- second card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_2 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title"> {{ item_2_name }}</h5>
              <p class="card-text">{{ item_2_cost }}</p>
              <small class="card-text"> {{ note }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_2 }}" class="{{ file }}">{{ message }}</a>
            </div>
          </div>
        </div>
         <!-- thrid card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_3 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title"> {{ item_3_name }}</h5>
              <p class="card-text"> {{ item_3_cost }}</p>
              <small class="card-text"> {{ notice }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_3 }}" class="{{ file }}">{{ message }}</a>  
               </div>
          </div>
        </div>
         <!-- fourth -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_4 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title">{{ item_4_name }}</h5>
              <p class="card-text">{{ item_4_cost }}</p>
              <small class="card-text"> {{ notice }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_4 }}" class="{{ file }}">{{ message }}</a>  
              </div>
          </div>
        </div>
         <!-- fiveth -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_5 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title">{{ item_5_name }}</h5>
              <p class="card-text">{{ item_5_cost }}</p>
              <small class="card-text"> {{ note }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_5 }}" class="{{ file }}">{{ message }}</a>  
              </div>
          </div>
        </div>
         <!-- six card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_6 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title {{ size }}">{{ item_6_name }}</h5>
              <p class="card-text">{{ item_6_cost}}</p>
              <small class="card-text"> {{ notice }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_6 }}" class="{{ file }}">{{ message }}</a>   
            </div>
          </div>
        </div>
         <!-- seven card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_7 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title {{ size }}">{{ item_7_name }}</h5>
              <p class="card-text">{{ item_7_cost }}</p>
              <small class="card-text"> {{ note }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_7 }}" class="{{ file }}">{{ message }}</a>  
               </div>
          </div>
        </div>
         <!-- eight card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_8 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title">{{ item_8_name }}</h5>
              <p class="card-text">{{ item_8_cost }}</p>
              <small class="card-text"> {{ notice }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_8 }}" class="{{ file }}">{{ message }}</a> 
               </div>
          </div>
        </div>
         <!-- ninth card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_9 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title">{{ item_9_name }}</h5>
              <p class="card-text">{{ item_9_cost }}</p>
              <small class="card-text"> {{ notice_n }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_9 }}" class="{{ file }}">{{ message }}</a> 
               </div>
          </div>
        </div>
         <!-- end of card grid -->
      </div>
    </div>
  </section>
  <!-- Modal -->
<div class="modal fade" id="order" tabindex="-1" aria-labelledby="orderLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderLabel">Place Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Fill out this form and we will contact you once approved</p>
        <form name="{{ modal_n }}" action="POST" data-netlify="true">
            <div class="mb-3">
                <label for="first-name" class="col-form-label">
                    Full Name:
                </label>
                <input type="text" class="form-control" name="full-name" placeholder="Enter Full Name" required>
            </div>
            <div class="mb-3">
              <label for="first-name" class="col-form-label">
                Items:
            </label>
              <textarea type="text" class="form-control" name="items" placeholder="Enter items names" required></textarea>
            </div>
            <div class="mb-3">
                <label for="phone" class="col-form-label">
                    Phone:
                </label>
                <input type="text" class="form-control" name="customer-phone" placeholder="Enter Phone Number" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <input type="submit" value="Submit" class="btn btn-primary"></input>
            </div>    
        </form>
      </div>
      </div>
 </div>
</div>
