---
layout: 'base.njk'
---

<section class="p-5 bg-light text-dark">
    <div class="container">
      <div class="row align-items-center justify-content-between mt-4">
              <div class="col-md">
                <img src="{{ logo }}" class="img-fluid {{ pic }}" alt="{{ imgAlt }}">
              </div>
            <div class="col-md p-5 ">
              <h1><b>{{ name }}</b></h1>
              <div class="d-flex align-items-center">
                <h3><i class="bi bi-clock me-3"></i></h3>
                  <h5>Store Hours: {{ hours }}</h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="bi bi-telephone-fill me-3"></i></h3>
                  <h5> Telephone: {{ contact }} </h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="bi bi-envelope me-3"></i></h3>
                  <h5>{{ email }}</h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="{{ icon }} me-3"></i></h3>
                  <h5> {{ description }} 
                  </h5>
              </div>
              <div class="d-flex align-items-center">
                <h3><i class="{{ social_i }} me-3"></i></h3>
                  <h5><a href="{{ social}}" class="{{ social_c }}">{{ social_n }}</a></h5>
              </div>
           </div>
      </div>
    </div>  
  </section>
  <div class="bg-primary">
    <section class="p-5">
      <div class="container">
        <h2 class="text-center text-white mb-3">Our Key Services</h2>
          <div class="row text-center g-4">
              <div class="col-md">
                  <div class="card bg-dark text-light">
                      <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-laptop"></i>
                        </div>  
                        <class="h3">
                          <h3 class="card-title mb-3"> Online </h3>
                          <p class="card-text">
                            <li class="lis">Passport Processing</li>
                            <li class="lis">Passport Renewals</li>
                            <li class="lis">Police Records</li>
                            <li class="lis">Business Plans</li>    
                            <li class="lis">US Visa Processing</li>    
                          </p>
                           <a href="#" data-bs-toggle="modal" data-bs-target="#booking" class="btn btn-warning">Learn More</a>
                      </div>
                  </div>
              </div>
              <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                      <div class="h1 mb-3">
                          <i class="bi bi-person-square"></i>
                      </div>  
                      <class="h3">
                        <h3 class="card-title mb-3"> In Person </h3>
                        <p class="card-text"> 
                         <li class="lis">Labour Board Process</li>
                            <li class="lis">Business Proposals</li>
                            <li class="lis">Processing fees</li>
                            <li class="lis">Payment information</li>
                            <li class="lis">Vat filing/ Processing</li>
                              
                        </p>
                         <a href="#" data-bs-toggle="modal" data-bs-target="#booking" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md"> <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                      <div class="h1 mb-3">
                          <i class="bi bi-people"></i>
                      </div>  
                      <class="h3">
                        <h3 class="card-title mb-3"> Reliable</h3>
                        <p class="card-text">
                          <li class="lis">Client information</li>
                          <li class="lis">Business license Process</li>
                          <li class="lis">Vendors Permit</li>
                          <li class="lis">NIB Registrations</li>        
                          <li class="lis">Immigration Services</li>        
                        </p>
                         <a href="#" data-bs-toggle="modal" data-bs-target="#booking" class="btn btn-warning">Learn More</a>
              </div>
          </div>
      </div>
  </section> 
  </div>  
    <!-- First Photo Grid-->
  <section class="p-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_1}}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title"> {{ item_1_name }}</h5>
              <p class="card-text"> {{ item_1_cost }}</p>
              <small class="card-text"> {{ note }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location }}" class="{{ file }}">{{ message }}</a>
            </div>
          </div>
        </div>
        <!-- second card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_2 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title"> {{ item_2_name }}</h5>
              <p class="card-text">{{ item_2_cost }}</p>
              <small class="card-text"> {{ note }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_2 }}" class="{{ file }}">{{ message }}</a>
            </div>
          </div>
        </div>
         <!-- thrid card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_3 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title"> {{ item_3_name }}</h5>
              <p class="card-text"> {{ item_3_cost }}</p>
              <small class="card-text"> {{ notice }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_3 }}" class="{{ file }}">{{ message }}</a>  
               </div>
          </div>
        </div>
         <!-- fourth -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_4 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title">{{ item_4_name }}</h5>
              <p class="card-text">{{ item_4_cost }}</p>
              <small class="card-text"> {{ notice }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_4 }}" class="{{ file }}">{{ message }}</a>  
              </div>
          </div>
        </div>
         <!-- fiveth -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_5 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title">{{ item_5_name }}</h5>
              <p class="card-text">{{ item_5_cost }}</p>
              <small class="card-text"> {{ note }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_5 }}" class="{{ file }}">{{ message }}</a>  
              </div>
          </div>
        </div>
         <!-- six card -->
        <div class="col-md-6 col-lg-3">
          <div class="card d-flex align-items-center bg-light">
            <img src= "{{ item_6 }}"  class="card-img-top {{ img }}" alt="smart-watch">
            <div class="card-body">
              <h5 class="card-title {{ size }}">{{ item_6_name }}</h5>
              <p class="card-text">{{ item_6_cost}}</p>
              <small class="card-text"> {{ notice }}</small>
              <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
              <a href="{{ location_6 }}" class="{{ file }}">{{ message }}</a>   
            </div>
          </div>
        </div>
         <!-- seven card -->
         <div class="col-md-6 col-lg-3">
            <div class="card d-flex align-items-center bg-light">
              <img src= "{{ item_7 }}"  class="card-img-top {{ img }}" alt="smart-watch">
              <div class="card-body">
                <h5 class="card-title {{ size }}">{{ item_7_name }}</h5>
                <p class="card-text">{{ item_7_cost }}</p>
                <small class="card-text"> {{ note }}</small>
                <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
                <a href="{{ location_7 }}" class="{{ file }}">{{ message }}</a>  
                 </div>
            </div>
          </div>
           <!-- eight card -->
          <div class="col-md-6 col-lg-3">
            <div class="card d-flex align-items-center bg-light">
              <img src= "{{ item_8 }}"  class="card-img-top {{ img }}" alt="smart-watch">
              <div class="card-body">
                <h5 class="card-title">{{ item_8_name }}</h5>
                <p class="card-text">{{ item_8_cost }}</p>
                <small class="card-text"> {{ notice }}</small>
                <a href="#" data-bs-toggle="modal" data-bs-target="#order"class="btn btn-outline-success">{{ msg }}</a>
                <a href="{{ location_8 }}" class="{{ file }}">{{ message }}</a> 
                 </div>
            </div>
          </div>
           <!-- end of card grid -->
        </div>
      </div>
    </section>
    <div class="bg-primary">
      <section class="p-5">
        <div class="container">
          <h2 class="text-center text-white mb-3">Connect With Us</h2>
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-light text-dark">
                        <div class="card-body text-center">
                          <div class="h1 mb-3">
                            <i class="bi bi-calendar-check"></i>
                          </div>  
                          <class="h3">
                            <h3 class="card-title mb-3">Appointent</h3>
                            <p class="card-text">
                              Set an appointment for any of our 
                              services and begin your process today!   
                            </p>
                             <a href="#" data-bs-toggle="modal" data-bs-target="#booking" class="btn btn-warning">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                  <div class="card bg-dark text-light">
                      <div class="card-body text-center">
                        <div class="h1 mb-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                            <path d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z"/>
                          </svg>
                        </div>  
                        <class="h3">
                          <h3 class="card-title mb-3"> Banking </h3>
                          <p class="card-text pb-4"> 
                           Direct Deposit at:
                           Roxianna Deveaux
                           Account #1665510050232
                           Harrold Road.
                           Any Branch of the BOB     
                          </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md"> <div class="card bg-light text-dark">
                      <div class="card-body text-center">
                        <div class="h1 mb-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                          </svg>
                        </div>  
                        <class="h3">
                          <h3 class="card-title mb-3"> Sun Cash</h3>
                          <p class="card-text">
                            Please Contact To Confrim. Before Making Payment.
                            Telephone: {{ contact }}      
                          </p>
                           <a href="https://suncash.me/Bahamas" class="btn btn-warning">Pay Now</a>
                </div>
            </div>
        </div>
    </section>   
    
    <!-- Modal -->
  <div class="modal fade" id="order" tabindex="-1" aria-labelledby="orderLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderLabel">Registration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Fill out this form and we will contact you once approved</p>
          <form name="{{ modal_n }}" action="POST" data-netlify="true">
              <div class="mb-3">
                  <label for="first-name" class="col-form-label">
                      Full Name:
                  </label>
                  <input type="text" class="form-control" name="full-name" placeholder="Enter Full Name" required>
              </div>
              <div class="mb-3">
                <label for="first-name" class="col-form-label">
                  Services:
              </label>
                <textarea type="text" class="form-control" name="items" placeholder="Enter services needed" required></textarea>
              </div>
              <div class="mb-3">
                  <label for="phone" class="col-form-label">
                      Phone:
                  </label>
                  <input type="text" class="form-control" name="customer-phone" placeholder="Enter Phone Number" required>
              </div>
          </form>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Submit" class="btn btn-primary"></input>
          </div>
        </div>
   </div>
  </div>
  <!-- modal-2 -->
  <div class="modal fade" id="booking" tabindex="-1" aria-labelledby="bookingLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookingLabel">Book An Appointment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="lead">Fill out this form to set an appointment and we will contact you once approved</p>
          <form name="{{ modal_apt }}" action="POST" data-netlify="true">
              <div class="mb-3">
                  <label for="first-name" class="col-form-label">
                      Full Name:
                  </label>
                  <input type="text" class="form-control" name="full-name" placeholder="Enter Full Name" required>
              </div>
              <div class="mb-3">
                <label for="first-name" class="col-form-label">
                  Date:
              </label>
              <input type="date" class="form-control" name="appointment" required>
              </div>
              <div class="mb-3">
                <label for="time" class="col-form-label">
                  Time:
              </label>
              <input type="time" class="form-control" name="appointment-time" required>
              </div>
              <div class="mb-3">
                  <label for="phone" class="col-form-label">
                      Phone:
                  </label>
                  <input type="text" class="form-control" name="customer-phone" placeholder="Enter Phone Number" required>
              </div>
              <div class="mb-3">
                  <label for="email" class="col-form-label">
                      Email:
                  </label>
                  <input type="text" class="form-control" name="customer-email" placeholder="Enter Email" required>
              </div>
          </form>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Submit" class="btn btn-primary"></input>
          </div>
        </div>
   </div>
   </div>
  
  
