body::before{
    display: block;
    content: "";
    height: 60px;
}

.input-feild{
    width:80%;
}

.p-size {
    width: 300px;
    margin-left: 6rem;
}

.fitted{
    margin-bottom: 5rem;
}

.lower{
    margin-bottom: 12rem;
}
.btn-info{
    background-color: #FFC0CB !important;
    border-color: #FFC0CB !important

}
.font{
    font-size: 100%;
  }
.lis{
    list-style-type: none;
}
.pic-item{
    height: 280px;
    width: 280px;
  }

.pic-li {
    height: 150px;
    width: 150px;
  }


@media (min-width:768px){
.news-input{
    width:50%;
    }
}

@media (max-width:850px){
.p-size{
    margin-left: 0;
    }
}
